
body{
    background-image:  url('charminar.jpg');;
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-align: center;
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 30px;
}
#cta{
    background-color: white
    color : rgb(14, 13, 13);
    padding : 10%;
    text-align : center;
}
.mine{
    padding: 3.5%;
}

.ch1
{
    text-align: center; /* Center align its content*/
    border: 2px solid crimson;
    padding: 10px;
}